<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.ros.android.android_all_sensors_driver"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <supports-screens
        android:xlargeScreens="true" android:largeScreens="true"
        android:normalScreens="true" android:smallScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/all_sensors_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon,android:label">
        <activity
            android:name="org.ros.android.android_all_sensors_driver.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="ros.org"
                    android:path="/wiki/android_sensors_driver/install"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MasterChooser"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="org.ros.android.NodeMainExecutorService"/>
    </application>

</manifest>
